my-name{
        color: red;
        }
        
ul{
        color: blue;
}

list{
        color: green;
}

where-i-grew-up{
        color: purple;
}

where-i-want-to-live{
        color: purple;
}

location{
        yellow
}

number-of-students{
        font-style: italic;
        font-weight: bold;
}
number of girls{
        color:pink;
}
