id.my-name{
        color: red;
        }
        
ul{
        color: blue;
}

list{
        color: green;
}

where-i-grew-up{
        color: purple;
}

where-i-want-to-live{
        color: purple;
}

location{
        yellow
}

number-of-students{
        font-style: italic;
        font-weight: bold;
}
number-of-girls{
        color: #eb4457;
}
number-of-boys{
        color: #00ffff;
}

/*my-age{
        
}*/
ul{
        color:#452518;
}
body {
        background-color:#9f9691;
}
section{
        background-color:#ff8700;
}
